{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto"><h2>Welcome to the Home page !</h2></div>  
                    <div class="col-8">
                        Liste Pizza
                    </div>
                    <div class="col-4">
                        <div class="bg-light">
                            {% include 'home/panierHome.html.twig' %}
                        </div>
                    </div>
        </div>
    </div>
{% endblock %}