{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
            <br>
                <h2>Weldone ! Your order is ready ! </h2>
                    <h3>Checkout, modification and send : </h3>
                    <br>
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                        </div>


    </div>
{% endblock %}